**/.nuxt
**/.output
node_modules
apps/*/node_modules
packages/*/dist
packages/*/node_modules
apps/backend/src/infrastructure/prisma/output
.env
.DS_Store
dist
.data
.cache
.nitro

.env.*
!.env.example
!**/.env.example

gha_deploy*